/*导航栏*/
.header_fixed {
    height:70px;
    position: fixed;
    z-index:1000;
    background:#e7e7e7;
}
.header_fixed>ul>li{
    height:70px;
    position: relative;
    z-index: 11;
    float: left;
}
.header_fixed>ul .img img{
    border:none;
    margin-top: 15px;
    margin-right:20px;
}		
.header_fixed>ul .img img{
    width:140px;height:40px;
}
.header_fixed>ul>li>a{
    font-size:16px;
    line-height:70px;
    padding:0 18px;
    color:#444;
}
.nav_li_active{
    border-bottom:3px solid #0c5ca5;
    box-sizing:border-box;
}
.header_fixed>ul>li input[type=button]{
    width:30px;height:27px;
    border:0;outline:0;
    background:url("../hengli/icon_b.png");
    background-size:25px 66px;
    background-position:4px 2px;
    margin:21.5px 6px 0 35px;
    cursor:pointer;
    z-index: 10;
}
.header_fixed>ul>li input[type=text]{
    padding: 0;
    vertical-align: top;
    width: 0;
    height: 18px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    z-index: 12;
}
.header_fixed>ul  .email label{
    float:left;
    line-height:70px;
    color:#0c5ca5;
    font-size:16px;
    cursor:pointer;
}
.header_fixed>ul .email>div{
    width:22px;height:25px;
    border:0;
    background:url("../hengli/icon_b.png");
    background-size:24px 66px;
    background-position:-3px -20px;
    margin:22.5px 5px 0 5px;
    float:left;
    cursor:pointer;
    transition: .5s;
}
.header_fixed>ul .email>div:hover{
    transform: 3px 5px;
}
.header_fixed>ul  .login>label{
    float:left;
    line-height:70px;
    color:#0c5ca5;
    font-size:16px;
    cursor:pointer;
}
.header_fixed>ul label a{
    color:#444;
    padding:0;
}
.header_fixed>ul label:hover a{
    color:#0c5ca5;
}
.header_fixed>ul .login div{
    width:22px;height:25px;
    border:0;
    background:url("../hengli/icon_b.png");
    background-size:24px 66px;
    background-position:-4px -43px;
    margin:22.5px 5px 0 10px;
    float:left;
    cursor:pointer;
    box-sizing: border-box;
}
/* 下拉菜单 */
.dropdown_menu{
    display: none;
    border: 0;
    text-align: center;
    border-bottom: 3px solid #0c5ca5;
    background-color: rgba(255,255,255,.8);
    border-top:3px solid #0c5ca5;
    position: absolute;
    z-index: 11;
    top: 67px;
    width: 100%;
    box-sizing: border-box;
}
.header_fixed ul li:hover ul{
    display: block;  
}
.dropdown_menu li a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #444;
    transition: .2s;
}
.dropdown_menu li a:hover{
    color: #fff;
    background: #0c5ca5;
}	