		/*banner*/
		.banner img{
			width:100%;
			font-size: 0;
		}
		/*scroll*/
		.scroll{
			width:1200px;
			margin:50px auto;
		}	
		.scroll>ul:after{
			content:"";
			display:block;
			clear:both;
		}
		.scroll>ul>li{
			width:150px;height:160px;
			border-bottom:4px solid #ccc;
			text-align:center;
			cursor: pointer;
		}
		.scroll>ul>li>div{
			width:150px;height:130px;
			border-right:1px solid #ddd;
			margin-right:-1px;
		}
		.scroll>ul>li>div>span{
			width:90px;height:90px;
			display:inline-block;
			vertical-align:middle;
			overflow:hidden;
			background-repeat:no-repeat;
			background-image:url("../hengli/icon_a.png");	
			background-size:270px auto;
		}
		.scroll>ul>li>div>h4{
			width:150px;
			margin-top:10px;	
			font-size:18px;
			font-weight:400;
		}
		.scroll>ul>li:hover h4{
			color:#00954c;
		}
		.scroll>ul>li:hover{
			border-bottom:4px solid #00954c;
		}
		.scroll>ul div #s2{
			background-position:0 -90px;
		}	
		.scroll>ul div #s3{
			background-position:0 -180px;
		}	
		.scroll>ul div #s4{
			background-position:0 -270px;
		}	
		.scroll>ul div #s5{
			background-position:0 -360px;
		}		
		.scroll>ul div #s6{
			background-position:0 -450px;
		}	
		.scroll>ul div #s7{
			background-position:0 -540px;
		}		
		.scroll>ul div #s8{
			background-position:0 -630px;
		}	
		.scroll>ul .last{
			border-right:0;
		}
		/*scorll_text*/
		.scroll_text{
			text-align:center;
			position:relative;
		}
		.btn{
			font-size: 40px;
			color: rgb(0, 149, 76);
			position: absolute;
			z-index: 10;
			top: 50%;
			width: 70px;
			line-height: 70px;
			height: 70px;
			text-align: center;
			font-weight: bold;
			cursor: pointer;
			overflow: hidden;
			background-repeat: no-repeat;
		}
		.scroll_text>.btn_left{	
			background-image: url("../hengli/btn_icon.png");
			background-size: 140px;
		}
		.scroll_text .btn_right{
			background-image: url("../hengli/btn_icon.png");
			background-position:100% 0px;
			background-size: 140px auto;
			right: 0;
		}
		.scroll_text h5{
			font-size:24px;
			color:#444;
			cursor: pointer;
		}
		.scroll_text ul .t_t_d{
			width:840px;height:1px;
			margin: 20px auto 20px;
		}
		.scroll_text ul .t_t_d span{
			width:150px;height:1px;
			font-size:0;
			background-color:#ccc;
			display:inline-block;
			vertical-align:top;
		}
		.scroll_text ul .wenben{
			width:840px;height:77px;
			text-align:justify;
			color:#666;
			font-size:14px;
			margin:auto;
			cursor: pointer;
		}	
		.scroll_text ul .text2,.text3,.text4,.text5,.text6,.text7,.text8{
			display:none;
		}
/* banner2 */
		.banner2{
			width:100%;
			height:470px;
			background:rgba(240, 240, 240, 0.7);	
			margin: 100px 0 50px 0;
		}
		.banner2>.box_1166{
			width: 100%;
			position: relative;
		} 
		.banner2 li{
			width:100%;
			height: 470px;
			float:left;
		}
		/* 左边 */
		.banner2 .left_img{
			width:50%;
			height: 470px;
			overflow: hidden;
			background: #000;
		}
		.banner2 .left_img img{			
			transition:all 0.3s linear;
		}
		.banner2 .left_img img:hover{
			transform: scale(1.05);
			opacity: .7;
		}
		/* 右边 */
		.banner2 .right_box{
			width: 50%;
			padding: 20px 0 0 50px;
			box-sizing: border-box;
		}
		.banner2 .right_box .right_text{
			width: 500px;	
			margin: 20px; 
		}
		.banner2 .right_box .right_text h4{
			font-size: 30px;
			font-weight: bold;
			margin-bottom:15px; 
			color:#0c5ca5;
		}
		.banner2 .right_box .right_text .left{
			border-right:1px solid #ccc;
			font-size:30px; 
			padding-right: 20px;
			line-height: 1.1;
		}
		.banner2 .right_box .right_text .right{
			width: 360px;
			margin-left: 125px;
		}
		.banner2 .right_box .right_text .right h5 {
			font-size: 22px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;		
		}
		.banner2 .right_box .right_text .right h5 a{
			color: #666;
			transition: .2s;
		}
		.banner2 .right_box .right_text .right h5 a:hover{
			color:#0c5ca5;
		}
		.banner2 .right_box .right_text .title{
			margin: 20px 0;
		}
		.gray_more_a a{
			transition: all .3s linear;
			color:#fff;
			background-color: #808080;
			font-size: 12px;
			line-height: 18px;
			padding: 0 8px;
			display: inline-block;
			margin-top:30px; 
			transform: translateZ(0);
			font-weight: bold;
		}
		.gray_more_a a:hover{
			background-color: #0c5ca5;
			transform: translateY(-2px);
		}
		/* 按钮 */
		.banner2 ._btn{
			cursor: pointer;
			z-index: 4;
			position: absolute;
			width: 50px;
			height: 50px;
			background-image:url("../hengli/btn.png");
			background-color: #fff;
			background-repeat: no-repeat;
			background-size: 100px auto;
			top: 50%; 
		}
		/* 左右按钮样式 */
		.banner2 .box_1166 .left_btn{
			right: 50%;
			border-right: 1px solid #ddd;
			z-index: 6;
			transition: all .3s linear;
		}
		.banner2 .box_1166 .right_btn{
			left: 50%;
			background-position:0 -50px; 
			z-index: 6;
			transition: all .3s linear;
		}
		/* 左右按钮悬浮样式 */
		.banner2 .box_1166 .left_btn:hover{
			background-color: #0c5ca5;
			background-position:-50px 0px;
		}
		.banner2 .box_1166 .right_btn:hover{
			background-color: #0c5ca5;
			background-position:-50px -50px;
		}
		/* about恒力*/
		.about{
			width: 100%;
			height: 400px;
			margin-bottom: 50px;
		}
		/* 左侧文本 */
		.about .left_text{
			width: 50%;
			height: 100%;
			padding-right: 100px;
			font-size: 16px;
			color: #fff;
			background: #0c5ca5;
			float: left;
			box-sizing: border-box;
		}
		.about .left_text .t_l_box{
			width: 500px;
			float: right;
			padding: 30px 0 0 0;
		}
		.about .left_text .t_l_box h4{
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.about .left_text .t_l_box .t_l_m{
			height: 12.8em;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.about .left_text .t_l_box .t_l_m p{
			margin-bottom: 1.6em;
		}
		.about .t_l_btn{
			margin-top:30px;
		}
		.about .t_l_btn a:hover{
			color: #fff;
			box-shadow: 0 5px 10px rgba(0,0,0,.2);
			background: #ec881e;
			transform: translateY(-2px);
		}
		.about .t_l_btn a{
			transition: all .3s linear;
			color:#0c5ca5;
			background-color: #fff;
			font-size: 12px;
			line-height: 18px;
			padding: 0 8px;
			display: inline-block;
			margin-top:20px; 
			transform: translateZ(0);
			font-weight: bold;

		}
		/* 右侧图片 */
		.about .right_img{
			width: 50%;
			height: 100%;
			background: #000;
			overflow: hidden;
			text-align: center;
			float: right;
		}
		.about .right_img img{
			width: 100%;
			height: 100%;
			overflow: hidden;
			border: none;
		}
		.about .right_img img{			
			transition:all 0.3s linear;
		}
		.about .right_img img:hover{
			transform: scale(1.05);
			opacity: .7;
		}
		/* end一行 */
		.end_bigbox{
			box-sizing: border-box;
			color: #fff;
			background-color: #4b78bd;
			background-image: url("../恒力集团/box_bj.jpg");
			background-repeat: no-repeat;
			background-position: center top;
			height: 430px;
			padding: 50px 0;
			min-width: 1200px;
		}
		.end_bigbox>.w_1200>.hide_box{
			height: auto;
			overflow:hidden;
		}
		.end_bigbox>.w_1200>.hide_box>ul{
			padding-top: 15px;
			margin-left: -50px;
			margin-right: -50px;
		}
		.end_bigbox>.w_1200>.hide_box>ul>li{
			width: 33.3%;
			border-right: 2px solid #fff;
			margin-right: -2px;
		}
		.hide_box>ul>li>.end_box{
			padding:30px 80px 0 80px;
			transition: all .3s linear;
		}
		.hide_box>ul>li>.end_box h4{
			font-size: 30px;
			font-weight: bold;
			height: 85px;
		}
		.hide_box>ul>li>.end_box h5{
			font-size: 22px;
		}
		.hide_box>ul>li>.end_box .t_t{
			height: 95px;
			font-size: 16px;
			margin-top: 10px;
		}
		.hide_box>ul>li>.end_box .t_d a{
			transition: all .3s linear;
			color:#0c5ca5;
			background-color: #fff;
			font-size: 12px;
			font-weight: bold;
			line-height: 18px;
			padding: 0 8px;
			display: inline-block;
			margin-top:20px; 
			transform: translateZ(0);
		}
		.hide_box>ul>li>.end_box .t_d a:hover{
			color: #fff;
			box-shadow: 0 5px 10px rgba(0,0,0,.2);
			background: #ec881e;
			transform: translateY(-2px);
		}
